@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}

button1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(246, 244, 244);
    background-color: rgb(84, 84, 87);
    color: rgb(10, 10, 10);
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
}

button2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(246, 244, 244);
    background-color: rgb(84, 84, 87);
    color: rgb(10, 10, 10);
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
}

button1:hover {
    background-color: rgb(223, 63, 63);
    color: grey;
}

button2:hover {
    background-color: greenyellow;
    color: grey;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
.redcor{
    color: red;
}